<nav>
  <div class="left-nav">
    <a href="/dear-dahlia">Dear Dahlia,</a>
    <a href="/cinema-staff">Cinema Staff</a>
    <a href="/world-within">World Within</a>
    <a href="/codex-collective">Codex Collective</a>
  </div>
  <a href="/">
    <img id="logo" src="/assets/images/crush_logo.png">
  </a>
  <div class="right-nav">
    <a href="/living-limbo">Living Limbo</a>
    <a href="/lateral-divinity">Lateral Divinity</a>
    <a href="/escaping-samsara">Escaping Samsara</a>
    <a href="/eternal-stray">Eternal Stray</a>
  </div>
</nav>