<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.tab-title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  </head>
  <body>
    {% include navigation.html %}
    <main id="content">
      {% include description.html %}
      {{ content | newline_to_br }}
    </main>
  </body>
</html>